.DS_Store
*.DS_Store
Insta Library-Apple-Silicon.app/
Insta Library-Intel.app/
Insta-Library-Apple-Silicon.zip
Insta-Library-Intel.zip
Insta Library-Windows-x64/
Insta-Library-Windows-x64.zip
Insta Library-Windows-x64/Resources/runtime/node.exe
